<html>
      
       <body>

               <h1>Hello World!</h1>
        <p>My name is Russell.Russ for short.</p><br>
           I was born in the 90s.<br>
I live in Koforidua in Ghana.An aspiring senior web developer<br> who intents to take Ghana to the next level          
               <h2>Likes and Dislikes</h2>
        <p>Well as a normal human being, i like food too.</p><br>
I like people who always want to bring new ideas into existence and also I love<br>
Obama too 

       </body>

</html>
