<html>

<title> The web</title>

<body>
<p>The Web has grown a mindboggling amount in the number of sites, users and
implementation capabilities since the
<a href="http://info.cern.ch/hypertext/WWW/TheProject.html">first website</a> went live
in <a href="http://home.cern/topics/birth-web">1989</a>. Web development is the concept
that encompasses all the activities involved with websites and web
applications.</p>
<p><p>We automatically created an HTML file, but then we had to leave our
editor and go to Firefox to open the file in a new tab. Wouldn’t it be
cool to have our Python program include that final step? Type or copy
the code below and save it as <code class="highlighter-rouge">write-html-2.py</code>. When you execute it, it
should create your HTML file and then automatically open it in a new tab
in Firefox. Sweet!</p></p>

</body>

</html>

